<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--https://mybatis.org/mybatis-3/zh/configuration.html#settings-->
        <setting name="cacheEnabled" value="false"/>

    </settings>
    <mappers>
        <mapper resource="mybatis/mapper/UserTaskRecordMapper.xml"/>
        <mapper resource="mybatis/mapper/UserTaskExecutionMapper.xml"/>
    </mappers>
</configuration>